* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* align-items: center; */
}

.addTodo {
	display: flex;
	flex-direction: column;
	margin: 20px 15px 0 0;
	border: 2px solid #000;
	padding: 10px;
}

.todoList {
	border: 2px solid #000;
	padding: 10px;
	margin: 20px 0 0 0;
	min-width: 524px;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #000;
	padding: 10px;
	margin: 20px 0 0 0;
}

.tools {
	display: flex;
	flex-direction: column;
}

.search {
	margin: 10px 15px 0 0;
	border: 2px solid #000;
	padding: 10px;
}
